@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-image: linear-gradient(to right ,#01022d,#000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.container{
background-image:linear-gradient(to right,#01022de5 30%,#00000088),
url(download.webp);
    width:90%;
    height: 640px;
    background-position: center;
}
.container:hover{
background-image:linear-gradient(to right,#01022de5 30%,transparent),
url(download.webp);



}
header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;

   
}
ul{
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom: 2px solid white;
}
.content{
    color: white;
    width: 40%;
    margin-top: 50px;

    padding: 
    20px;
}
.content h1{
    font-size: 50px;
    text-transform: uppercase;
}
.content p{
    font-size: 20px;

    padding:20px 0;
}

button{

    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px;
}
button:hover{
    background-color:transparent;
    color: black;
    transition: 0.5s;
    background-color: white;
}